{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}

		{% endblock %}
	</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/flatpickr/flatpickr.min.css' %}">

</head>
<body>

	{% block body %}

	{% endblock %}
	
	<script src="{% static 'js/JQuery/jquery.min.js' %}"> </script>
	<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"> </script>
	<script src="{% static 'js/flatpickr/flatpickr.js' %}"> </script>

	{% block javascript %}

	{% endblock javascript %}

</body>
</html>